/* Change the color of the carousel controls (arrows) */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  background-size: 100%, 100%;
}

.carousel-item img {
  margin: auto;
  width: auto;
  object-fit: cover;
  max-height: auto;
}
/* Set clickable areas to show cursor  */
.clickable {
    cursor: pointer;
}